body{
    background-color: #E7DECD;
    font-family: 'Noto Serif', sans-serif;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

header{
    color: #E7DECD;
    background-color: #222E50;
}

main{
    color: #222E50;
    margin: 20px 10px 10px 10px;
    min-height: 400px;
    margin-bottom: 300px;
    clear: both;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222E50;
    text-align: center;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.center{
    margin: auto;
}

.about-img{
    height: 70%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form{
    background-color: #E5625E;
    font-family: 'Noto Serif', sans-serif;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
}

#button{
    margin-left: auto;
    margin-right: auto;

}
