<nav class="navbar">
    <div class="container">
        <a href="https://www.linkedin.com/in/cmarcano7/" style="font-size: 2rem;"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Cmarcano7" style="font-size: 2rem;"><i class="fab fa-github"></i></a>
        <a href="https://docs.google.com/document/d/1SQInm8yXMIIEqw3XwEbXDenoQ4y5sRTdfc9G8deAXJ8/edit?usp=sharing" style="font-size: 2rem;"><i class="fab fa-google-drive"></i></a>
    </div>
</nav>
<div class="banner">  
    <h1>Christian Marcano</h1>
</div>
    <div class="row">
        <div class="card col " style="width: 18rem;">
            <img src="./public/assets/images/Main_Preview.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Burger Logger</h5>
              <p class="card-text">Application that uses CRUD as well as the Mysql database to provide users the ability to add and remove burgers they have eaten.</p>
              <a href="https://github.com/Cmarcano7/Burger-Logger" class="btn btn-secondary">Github</a>
            </div>
          </div>
          <div class="card col" style="width: 18rem;">
            <img src="./public/assets/images/Main_Menu_Preview.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Employee Tracker</h5>
              <p class="card-text">Cli application that can be used to track the employees in a company using node.js.</p>
              <a href="https://github.com/Cmarcano7/Employee-Tracker" class="btn btn-secondary">Github</a>
            </div>
          </div>
          <div class="card col" style="width: 18rem;">
            <img src="./public/assets/images/Notes_Preview.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Notes Taker</h5>
              <p class="card-text">Web application with the capability of adding, removing, and updating notes using node js and local storage.</p>
              <a href="https://github.com/Cmarcano7/Note-Taker" class="btn btn-secondary">Github</a>
            </div>
          </div>
          <div class="card col" style="width: 18rem;">
            <img src="./public/assets/images/cliPreview.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Employee Template Engine</h5>
              <p class="card-text">An application that builds an html file of the employees the user adds.</p>
              <a href="https://github.com/Cmarcano7/Employee-Template-Engine" class="btn btn-secondary">Github</a>
            </div>
          </div>
    </div>