* {
    font-family: 'Arvo', serif;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}
#jumboHead {
    background-color: #007ced;
	background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
}
#clouds {
    background-color: #007ced;
    /* background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%); */
    position: relative;
    height: 100%;
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
                url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
                url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
      animation: wind 20s linear infinite;
}
@keyframes wind{
    0% {
      background-position: 0 200px, 0 300px, 100px 250px;
    }
    100% {
      background-position: 1000px 200px, 1200px 300px, 1100px 250px;
    }
  
  }
#userInput {
    text-transform: capitalize;
}
.citiesButton {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.citiesButton:hover,
.citiesButton:focus,
.citiesButton:active {
    transform: scale(1.1);
}

#todayIcon {
    background-color: aqua;
}

#currentDay #currentTime { 
    font-size: 20px;
    font-weight: bold;
}

.weather {
    margin-left: 20px;
}

.invis {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

#weatherCards{
    margin-bottom: 10px;
}

.dayCards {
    margin: 3px;
}

.color {
    background-color: #FD795B;
}
.severe {
    background-color: red;
}
.favorable {
    background-color: green;
}
.moderate {
    background-color: yellow;
}

