:root {
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

html { height: 100%; }

body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    width: .25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #16a596;
}
/* body::-webkit-scrollbar-button:no-button */
main{
    overflow: auto;
    padding-bottom: 50px;
    margin-left: 4.5rem;
}

.cards {
    background: rgba(71, 71, 71, 0.6);
    border-radius: 5px;
    color: #16a596;
}

.btn{
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 24px;
    color: white;
    padding-left: 0px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.intro {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: #16a596;
}

 .jumbotron{
    background: url(../Images/chris-ried-ieic5Tq8YMk-unsplash.jpg) no-repeat center fixed;
    background-attachment: fixed;
 }
 .hide{
     display: none;
 }
.center{
    margin: 0 auto;
    text-align: center;
}
.list{
    margin: 0 auto;
    text-align: center;
}
ul {
    list-style-type: none;
}
#titleHolder{
    margin-top: 15px;
    margin-bottom: 50px;
}
#titleHolder h3{
    margin: 0 auto;
}
.gray{
    background-color: rgb(71, 71, 71);
    color: #16a596;
}
#submit{
    margin-top: 20px;
    text-align: center;
}
.btn {
    border: none; 
    cursor: pointer;
}
.btn:hover {
    background-color: RoyalBlue;
}

.navbar {
    width: 4.5rem;
    height: 100vh;
    position: fixed;
    background: var(--bg-primary);
}